.pattern-preview {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	min-width: 300px;
	height: 200px
}

.pattern-preview > iframe {
	position: absolute;
	top: -300px;
	left: -450px;
	width: 1200px;
	height: 800px;
	transform: scale(0.25);
	overflow: hidden;
	border: 1px solid #c3c4c7
}

.blockify-patterns-button-wrapper {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px
}

.blockify-patterns-button-wrapper svg {
	width: 20px;
	height: 20px
}

body:not(.show-patterns) .column-preview {
	display: none
}

.show-patterns .column-date {
	display: none
}

.manage-column.column-preview {
	width: 300px
}
